<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSCameraUsageDescription</key>
	<string>앱에서 카메라로 사진을 촬영하기 위해 사용합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>사용자의 현재 위치를 기반으로 주변 킥보드 정보를 제공하기 위해 필요한 권한입니다.</string>
	<key>NMFNcpKeyId</key>
	<string>${CLIENT_ID}</string>
	<key>CLIENT_ID</key>
	<string>${CLIENT_ID}</string>
	<key>CLIENT_SECRET</key>
	<string>${CLIENT_SECRET}</string>
	<key>SEARCH_ID</key>
	<string>${SEARCH_ID}</string>
	<key>SEARCH_SECRET</key>
	<string>${SEARCH_SECRET}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Jalnan2.otf</string>
		<string>Jalnan2TTF.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
